<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+2&family=Cagliostro&family=Cairo&family=Della+Respira&family=Gruppo&family=Major+Mono+Display&family=Philosopher&family=Red+Rose&family=Sansita+Swashed&family=Urbanist&display=swap" rel="stylesheet">
<style>
	:root {

	} body {
		margin:0;
		height:100vh;
		font-family:sans-serif;
		background:mediumturquoise;


		font-family: 'Philosopher', sans-serif;
		font-family: 'Red Rose', cursive;
		font-family: 'Sansita Swashed', cursive;
		font-family: 'Urbanist', sans-serif;
		font-family: 'Audiowide', cursive;
		font-family: 'Baloo 2', cursive;
		font-family: 'Cagliostro', sans-serif;
		font-family: 'Cairo', sans-serif;
		font-family: 'Gruppo', sans-serif;




        font-family: 'Audiowide', cursive;
font-family: 'Baloo 2', cursive;
font-family: 'Cagliostro', sans-serif;
font-family: 'Cairo', sans-serif;

font-family: 'Gruppo', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Philosopher', sans-serif;
font-family: 'Red Rose', cursive;
font-family: 'Sansita Swashed', cursive;
font-family: 'Urbanist', sans-serif;

		
	} h1 {
		display:flex;
		justify-content:space-between;
		align-items:center;
		color:white;
		font-family: 'Major Mono Display', monospace;
		background:mediumturquoise;
		margin:0;
		min-height:10vh;
	} span {

	} a {
		color:mediumvioletred;
	} main {
		height:90vh;
		background:mediumvioletred;
        background-image:linear-gradient(mediumturquoise 40%, mediumvioletred);
	} div {
		
		height:55vh;
		display:flex;
		justify-content:center;
		align-items:center;
        color:white;
        flex-direction:column;
	} article {
        width:62vw;
        text-align:center;
    } #mercury {
        color:mediumvioletred;
        font-size:150%;
        position:relative;
        top:1em;
        text-shadow:1px 1px white;
        font-family: 'Della Respira', serif;
    }
</style>
</head>
<body>
<h1><a href="/">Archimedean</a><span>Dev</span></h1>
<main>
	<div>
        <article>
        The Mercurial Labyrinth is a free online instrument that allows you to organize custom sets of Just Intonation 
        harmonics. Always remember to press the "init" button to initialize audio context. 
        </article>
        <article>
        <a href="/mercury" id="mercury">The Mercurial Labyrinth</a>
        </article>
	</div>
</main>

</body>
<script>

</script>
</html>
