<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+2&family=Cagliostro&family=Cairo&family=Gruppo&family=Major+Mono+Display&family=Philosopher&family=Red+Rose&family=Sansita+Swashed&family=Urbanist&display=swap" rel="stylesheet">

<style>
	:root {

	} body {
		margin:0;
		height:100vh;
		font-family:sans-serif;
		background:mediumturquoise;


		font-family: 'Philosopher', sans-serif;
		font-family: 'Red Rose', cursive;
		font-family: 'Sansita Swashed', cursive;
		font-family: 'Urbanist', sans-serif;
		font-family: 'Audiowide', cursive;
		font-family: 'Baloo 2', cursive;
		font-family: 'Cagliostro', sans-serif;
		font-family: 'Cairo', sans-serif;
		font-family: 'Gruppo', sans-serif;









		
	} h1 {
		display:flex;
		justify-content:space-between;
		align-items:center;
		color:white;
		font-family: 'Major Mono Display', monospace;
		background:mediumvioletred;
		margin:0;
		min-height:9.3vh;
	} span {

	} a {
		color:white;
		color:black;
		color:mediumturquoise;
	} main {
		height:90vh;
		background:	#48d1cc;
		text-align:center;
	} div {
		background-image:linear-gradient(mediumvioletred, mediumturquoise);
		min-height:55vh;
		display:flex;
		justify-content:center;
		align-items:center;
	} article {
		width:62vw;
		color:white;
		font-size:125%;
		text-align:left;
		text-indent:2em;
	} img {
		height:35vh;
		width:fit-content;
		animation-name:move;
		animation-duration:1.62s;
		position:relative;
	}
	@keyframes move {
		from {top:35vh;}
		to {top:0vh;}
	}
</style>
</head>
<body>
<h1><span>Archimedean</span><a href="/elopments">Dev</a></h1>

<main>
	<div>
		<!--
		<article>
			Music theory was invented by Pythagoras circa 500 BC.
			Let's just skip about 2000 years, nothing else really happened with it.
			Due to the advent of technology we can now implement a sophisticated music theory solution for the first time in known history. 
			We now have the groundbreaking ability to interface with the infinite, and organize perfectly tuned notes coherently.
			This is the trajectory of the evolution of music theory. 
		</article>
	-->

	<article>
		Archimedean Development makes a very special product called The Mercurial Labyrinth. It is an online 
		music keyboard that allows you to create your own unique scales, made up of perfectly harmonic 
		notes. It is better than the western music system because:
		<ol>
			<li>
				notes are real harmonics, so they actually sound good
			</li>
			<li>
				12 notes have been used for 500 years, so they'll be different than that 
			</li>
			<li>
				It's easy to use any standard pitch (also effectively "changes key")
			</li>
			<li>
				The Western Music System is very very boring and this isn't 
			</li>
			<li>
				Music theory is 100% going to evolve unrecognizably because of technology and this is how it's 
				going to happen (octaves are still the same! they got that one right)
			</li>
			<li>
				Everyone has their own path, if yours is to continue with equal temperament I won't judge you, 
				I just don't think there are any reasons to that aren't also the 
				most sordid aspects of human nature. 
			</li>
			<li>
				I don't want this to sound overly complicated, this system is actually much more user friendly to someone 
				with no prior knowledge than The Western Music System could ever be. Music is for everyone, every person
				is a musician, and this system is universally accessible to each and every user. 
			</li>
		</ol>
	</article>

	</div>

	<img src="chill1.jpg">
</main>
<!--
<nav>
	<a href="/projects">projects</a>
	<a href="mailto: thearchimedeandevelopment@gmail.com">email</a>
	<a href="https://www.youtube.com/@magenta_process">youtube</a>
</nav>
-->

</body>
<script>
// links = projects, email, youtube 
</script>
</html>
